body
{
background-color:#c3e4ff; 
font-family: "Lucida Console", "Courier New", monospace;
text-align: center;
}
ul 
{
    list-style-type: none;
    padding: auto;
}
li{
    display: inline;
    page: 30px;
    border-bottom-style:solid ;
    border-bottom-style: medium ;
}
.imagem{ 
    border-style: solid;
    border-width: 10px;
    border-color: rgb(0, 0, 0);

}
img{
    width: 50%;
}

/* .capa{
    width: 50%;
    height: auto;
    border-radius:8px ;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(0, 0, 0);

}


.gwyn{
    width: 50%;
    height: auto;
    border-radius:8px ;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(0, 0, 0);

}

.artorias{
    width: 50%;
    height: auto;
    border-radius:8px ;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(0, 0, 0);

}

.nameless{
    width: 50%;
    height: auto;
    border-radius:8px ;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(0, 0, 0);
}
 */
 .galeria img{
    width: 50%;
    height: auto;
    border-radius:8px ;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(0, 0, 0);
 }